---
project: Andrew's Website
---

<HTML>
  <HEAD>
    {% include heading.html %}
    <TITLE>About | Andrew Lee</TITLE>
  </HEAD>
<BODY>
  {% include navigator.html %}
<h1 class ="title">About Andrew</h1>
<h2>Contact me</h2>
<p>Email Address: {{ site.email }}</p>
<p>GitHub: <a href="https://github.com/Alee14">Alee14</a></p>
<p>Twitter: <a href="https://twitter.com/Alee14498">Alee14498</a></p>
<p>Discord: <a href="https://discord.gg/EFhRDqG">Alee's Community</a></p>
  {% include footer.html %}
</BODY>
</HTML>
