---
project: Andrew Lee
---

<!DOCTYPE HTML>
<HTML>

<HEAD>
  {% include heading.html %}
  <TITLE>Home | {{ site.title }}</TITLE>
</HEAD>

<BODY>
  {% include navigator.html %}
  <div class="jumbotron">
    <h1><center>{{ site.title }} Homepage</center></h1>
    <h3>
      <center><b>{{ site.description }}</b></center>
    </h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
          <h2>What is this website?</h2>
          <h4>This is my personal website.</h4>
      </div>
      <div class="col s12">
          <h2>Who am I?</h2>
          <h4>This is my personal website.</h4>
      </div>
      <div class="col s12">
          <h2>When did I start to get interest on programming?</h2>
          <h4>Well.. I started back in 2016 when I made my first VB program which is a HTML Editor.</h4>
      </div>
    </div>
  </div>
  {% include footing.html %}
  {% include footer.html %}
</BODY>

</HTML>