---
import Page from "../../layouts/Page.astro";
import '../../styles/cards.css';
---
<Page title="Philip Adams Software Archive" description="The ultimate software collection of Philip Adams' software.">
    <main>
        <div class="content-warning">
            <h2>Content Warning</h2>
            <p>Some of the software in this pack contains a jumpscare. If you have epilepsy, please be cautious.</p>
            <p>Disable your antivirus as it can detect false positive, feel free to use a VM if you feel unsafe.</p>
        </div>
        <div class="card note">
            <h2>Note</h2>
            <p>There was a mention back in the AstralPhaser Chats that the Histacom 1.8.5 (2013) copy in IndieDB is not the original copy from Phil.</p>
            <p>I have retrieved the original 2010 copy from Phil himself which has the original compile date of July 5th 2010, and I will be keeping both versions for the time being.</p>
        </div>
        <div class="card requirements">
            <h2>Minimal Requirements</h2>
            <ul>
                <li>OS: Windows XP SP3/Vista SP2 (Depends on each program)</li>
                <li>CPU: Intel/AMD x86 or x64 1 GHz Processor</li>
                <li>RAM: 512 MB to 1 GB</li>
                <li>Storage: 500 MB to 4 GB</li>
                <li>Frameworks: Adobe Flash Player, .NET Framework 3.5, 4.0 and/or 4.5</li>
            </ul>
        </div>
        <div class="card programs">
            <h2>Programs</h2>
            <ul>
                <li>Amazing Maze (Requires Flash Player)</li>
                <li>Artpad (from ShiftOS)</li>
                <li>Averager</li>
                <li>Board Game Maker</li>
                <li>Bouncing Ball Physics 0.3</li>
                <li>Chebinect</li>
                <li>Chrono Machine 0.9.3</li>
                <li>Colors</li>
                <li>Dark OS Studio</li>
                <li>Digging</li>
                <li>Draw</li>
                <li>Dropper</li>
                <li>Explore 0.3.7</li>
                <li>File Viewer (Jumpscare warning)</li>
                <li>File Wars</li>
                <li>&quot;funny nana and grampa sounds version 1.1&quot;</li>
                <li>Guess The Number</li>
                <li>Histacom 1.8.5 (2010 Edition) (Epilepsy warning)</li>
                <li>Histacom 1.8.5 (2013 Edition) (Epilepsy warning)</li>
                <li>HTMLive</li>
                <li>IIR (Interactive Infinite Road)</li>
                <li>Infinijump 0.1</li>
                <li>Infinijump Creator 0.1</li>
                <li>Mitosis 0.6</li>
                <li>OSFirstTimer Blue Screen (Jumpscare warning)</li>
                <li>Paper Math 2D</li>
                <li>Philip&apos;s Mario Game</li>
                <li>Phone Simulator 0.4</li>
                <li>Picture Generator</li>
                <li>Pixel Physics 0.3</li>
                <li>Road Simulator 0.4</li>
                <li>RPG Map Maker</li>
                <li>ShiftOS 0.0.8 (Epilepsy warning)</li>
                <li>Theme Test</li>
                <li>Thoto 0.3</li>
                <li>Time Machine 0.4</li>
                <li>Typewriter</li>
                <li>Vending Machine</li>
                <li>Visual Sound (Ear blast warning)</li>
                <li>Zeon OS 0.2</li>
            </ul>
        </div>
        <div class="checksum">
            <p>MD5: d14f7bfd17fa66ada3d48020deffcce0</p>
            <p>SHA512: b481d73f839c2ad99b6d6502d5735f416fbcc38dbac811c3d939845d319fecf8b15dd4ff1728ed96abe19077be19527df3692c54751bb81c201e58934d016527</p>
            <p>SHA256: c7ad3f799f14e610f8931f87e2612385ec39e2662308e7005e10715f9e94c6a0</p>
        </div>
        <a href="https://cloud.alee14.me/s/GjwJeNb8JBCbaHw">Download Archive</a>
    </main>
</Page>
<style>
    .content-warning {
        background-color: #727119;
        padding: 1.2em;
        border-radius: 20px;
        gap: 0.5em;
        margin: 0.5em;
    }

    .content-warning h2 {
        margin-top: 0.2em;
    }

    .note {
        margin-top: 1.2em;
    }

    .note h1 {
        margin-top: 0.2em;
    }

    a {
        font-size: 1.5em;
    }

    .checksum {
        overflow-wrap: break-word;
    }
</style>
