---
import Page from '../../layouts/BlogPost.astro';
import { getEntry } from 'astro:content';
import { formatDate } from "../../util";
const { slug } = Astro.params;

if (slug === undefined) {
    throw new Error('Slug is required');
}

const entry = await getEntry('blog', slug);

if(entry === undefined) {
    return Astro.redirect('/404');
}

const { Content } = await entry.render();
---
<Page title={entry.data.title} description={entry.data.description} pubDate={formatDate(entry.data.pubDate)} tags={entry.data.tags}>
    <main>
        <a href="/blog" class="back-link">← All articles</a>
        <article>
            <Content />
        </article>
    </main>
</Page>

<style>
    img {
        width: 20%;
        height: 50%;
    }
</style>
