
<footer class="page-footer green darken-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="white-text">Links</h5>
          <ul class="list-unstyled">
            <li><a class="white-text text-lighten-3" href="https://github.com/Alee14"><i class="fab fa-github"></i> GitHub</a></li>
            <li><a class="white-text text-lighten-3" href="https://twitter.com/Alee14498"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a class="white-text text-lighten-3" href="ttps://youtube.com/user/Andrew14Lee/"><i class="fab fa-youtube"></i> YouTube</a></li>
            <li><a class="white-text text-lighten-3" href="https://discord.gg/EFhRDqG"><i class="fab fa-discord"></i> Discord</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      <div class="container">
          &copy; Copyright 2018-2019, Andrew Lee. Powered by <a href="https://www.netlify.com/" class="white-text">Netlify</a> and using <a href="https://materializecss.com" class="white-text">Materialize</a>
      </div>
    </div>
  </footer>
