
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Alee14"><i class="fab fa-github"></i> GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/Alee14498"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="ttps://youtube.com/user/Andrew14Lee/"><i class="fab fa-youtube"></i> YouTube</a></li>
            <li><a class="grey-text text-lighten-3" href="https://discord.gg/EFhRDqG"><i class="fab fa-discord"></i> Discord</a></li>
          </ul>
        </div>
      </div>
    </div>
      <div class="container">
          &copy; Copyright 2018-2019, Andrew Lee. Powered by <a href="https://pages.github.com/" class="white-text">GitHub Pages</a> and using <a href="https://materializecss.com" class="white-text">Materialize</a>
      </div>
  </footer>