<link href="/style.css" type="text/css" rel="stylesheet">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="X-UA-Compatible" content="IE=8"/> 
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<script src="/jquery-3.3.1.min.js"></script>
<script src="/scripts.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width", initial-scale=1>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
