<div id="navigation">
    <ul class="navbar">
      <li class="nav logo">Andrew Lee</li>
      <li class="nav" {% if page.url == "/" %}style="background-color: #1f8e42;"{% endif %}><a class="nav" href="/">HOME</a></li>
      <li class="nav" {% if page.url == "/project.html" %}style="background-color: #1f8e42;"{% endif %}><a class="nav" href="/project.html">PROJECTS</a></li>
      <li class="nav" {% if page.url == "/blog.html" %}style="background-color: #1f8e42;"{% endif %}><a class="nav" href="/blog.html">BLOG</a></li>
      <li class="nav" {% if page.url == "/contact.html" %}style="background-color: #1f8e42;"{% endif %}><a class="nav" href="/contact.html">CONTACT</a></li>
    </ul>
  </div>