---
import Page from "../../layouts/Page.astro";
import "../../styles/cards.css";
---
<Page title="Website Archive" description="Collection of my old websites">
    <main>
        <h1>Personal</h1>
        <div class="grid">
            <article class="card">
                <h1>First website</h1>
                <p>Created by my dad using iFrames</p>
                <small>2013</small>
            </article>
            <article class="card">
                <h1>alee14.ga</h1>
                <p>My first website that I made using Bootstrap 3 with a template</p>
                <small>2017</small>
            </article>
        </div>
    </main>
</Page>
