.card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card form input,
.card form textarea {
    padding: 10px;
    border-radius: 5px;
    background: #253625;
    color: #FFFFFF;
    border: 1px solid #253625;
}

.card form textarea[name="message"] {
    height: 200px;
    resize: none;
}

.card form textarea[name="comment"] {
    height: 50px;
    resize: none;
}


.card form input:disabled,
.card form textarea:disabled,
.card form button:disabled {
    background: #5a5a5a;
    border-color: #5a5a5a;
    color: #c7c7c7;
    cursor: not-allowed;
}
