.home {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.avatar {
    border-radius: 20%;
}

h1 {
    font-weight: 500;
}

#title {
    font-size: 4vh;
}

h2 {
    font-weight: 500;
    font-size: 2.5vh;
}

.description {
    line-height: 0.4;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 6vh;
    gap: 7vh;
}

.email-contact {
    font-weight: 300;
    font-size: 2.2vh;
}

.infobox {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.about {
    padding: 1vw;
    text-align: left;
    background: #3B513B;
    border-radius: 20px;
}
