---
import Page from '../layouts/Page.astro'
import "../styles/cards.css";
---
<Page title="Guestbook" description="Use this page to send me a message">
    <main>
        <article>
            <h1>John Doe</h1>
            <small>January 1, 2024</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam id orci non diam bibendum euismod quis sit amet purus.
                Fusce fermentum facilisis placerat. Mauris varius ante elit, et
                luctus enim blandit sit amet.
                Pellentesque ullamcorper dapibus suscipit.
            </p>
            <a href="http://google.com">Website</a>
        </article>
    </main>
</Page>
