---
import Page from '../layouts/Page.astro'
import "../styles/cards.css";
import Guestbook from '../components/Guestbook'
---
<Page title="Guestbook" description="Use this page to send me a message">
    <main>
        <div class="card">
            <h2>Welcome to my Guestbook!</h2>
            <p>Feel free to send a nice message here!</p>
        </div>
        <Guestbook client:visible />
    </main>
</Page>
