---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="Andrew Lee">
	<main class="home">
		<Image class="avatar" src="/Alee.png" alt="Andrew Lee" height="200px" width="200px" />
		<h1>Hey, I'm Andrew Lee!</h1>
	</main>
</Layout>
