---
import Layout from '../layouts/Default.astro';
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets';
import Profile from '../images/Alee.png';
import '../styles/index.css';
---

<Layout title="Andrew Lee">
	<main class="home">
		<div class="headline">
			<Image src={Profile} class="avatar" alt="Andrew Lee" height={200} width={200} />
			<h1 id="title">Hey, I'm Andrew Lee!</h1>
			<div class="social">
				<a href="https://linkedin.alee14.me">
					<Icon name="fa6-brands:linkedin" />
				</a>
				<a href="https://github.alee14.me">
					<Icon name="fa6-brands:github" />
				</a>
				<a href="https://youtube.alee14.me">
					<Icon name="fa6-brands:youtube" />
				</a>
				<a href="https://instagram.alee14.me">
					<Icon name="fa6-brands:instagram" />
				</a>
			</div>
			<div class="description">
				<h2>19 Years Old</h2>
				<h2>Student at Pearson Electrotechnology Centre</h2>
				<h2>Living in Montreal, Quebec, Canada</h2>
			</div>
			<div>
				<h3><a href="mailto:andrew@alee14.me" class="email-contact">andrew@alee14.me</a></h3>
			</div>
		</div>
		<div class="information">
			<div class="box">
				<h1>About me</h1>
				<p>I have been into computers since I was a kid, and it has been my passion for a long time. <br>Currently studying “Computing Support” (more preferably IT) at a vocational school.</p>
			</div>
			<div class="box">
				<h1>Computer Specs</h1>
				<h2>AleePC</h2>
				<ul>
					<li>OS: Fedora</li>
					<li>CPU: AMD Ryzen 3 2200G</li>
					<li>RAM: 16 GB DDR4</li>
					<li>Storage: 2 TB NVME SSD, 4 TB HDD, 2 TB HDD</li>
					<li>GPU: AMD Radeon RX 6600</li>
				</ul>
				<h2>Synology</h2>
				<ul>
					<li>Model: DS918+</li>
					<li>CPU: Intel Celeron J3455</li>
					<li>RAM: 8 GB</li>
					<li>Storage: 15 TB (3x5TB, 1x4TB)</li>
				</ul>
				<h2>Vultr (Web Server)</h2>
				<ul>
					<li>OS: Ubuntu Server</li>
					<li>CPU: Intel Xeon Processor (Skylake, IBRS)</li>
					<li>RAM: 1 GB</li>
					<li>Storage: 25 GB (and 50 GB for Block Storage)</li>
				</ul>
				<h2>Proxmox</h2>
				<ul>
					<li>Model: Lenovo ThinkCentre M800</li>
					<li>CPU: Intel Core i5-6500</li>
					<li>RAM: 16 GB RAM</li>
					<li>Storage: 500 GB SSD, 2 TB SSD</li>
				</ul>
			</div>
			<div class="box">
				<h1>Latest Posts</h1>
			</div>
		</div>
	</main>
</Layout>
