---
import Page from "../layouts/Page.astro";
import projects from "../data/projects.json";
---
<Page title="Projects" description="Things that I have been working on in the past, and present">
    <main>
        {
            projects.map((project) => {
                return (
                        <div class="cards">
                            <h1>{project.name}</h1>
                            <p>{project.description}</p>
                            {project.links.map((link) => {
                                return (
                                        <a href={link.url} target={link.external ? "_blank" : ""}>{link.name}</a>                                )
                            })}
                        </div>
                )
            })
        }
    </main>
</Page>
<style>
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cards {
        display: flex;
        flex-direction: column;
        background-color: #3B513B;
        padding: 1.2em;
        border-radius: 20px;
        gap: 0.5em;
        margin: 0.5em;
    }

    .cards h1 {
        padding: 0;
        margin: 0;
    }

    .cards p {
        padding: 0;
        margin: 0;
    }

    .cards a {
        text-align: right;
        display: inline-block;
    }

    /* Mobile view */
    @media (max-width: 992px) {
        main {
            grid-template-columns: 1fr;
        }
    }

</style>
