---
import Page from "../layouts/Page.astro";
import projects from "../data/projects.json";
import "../styles/cards.css";
---
<Page title="Projects" description="Things that I have been working on in the past, and present">
    <main class="grid">
        {
            projects.map((project) => {
                return (
                        <article class="card">
                            <h1>{project.name}</h1>
                            <p>{project.description}</p>
                            <div class="row">
                                {project.links.map((link) => {
                                    return (
                                            <a href={link.url} target={link.external ? "_blank" : "_self"}>{link.name}</a>
                                    )
                                })}
                            </div>
                        </article>
                )
            })
        }
    </main>
</Page>
<style>
    .row {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
</style>
