---
import "../styles/Navbar.css"
---
<nav>
    <ul class="nav-list">
        <li class="nav-links"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-links"><a href="#" class="nav-link">Projects</a></li>
        <li class="nav-links"><a href="#" class="nav-link">Downloads</a></li>
        <li class="nav-links"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-links"><a href="#" class="nav-link">Guestbook</a></li>
        <li class="nav-links"><a href="#" class="nav-link">Contacts</a></li>
    </ul>
</nav>
