---
import Layout from './Default.astro';
const { title, description } = Astro.props;
import '../styles/Page.css';
---

<Layout title=`${title} - Andrew Lee` description={description}>
    <header>
        <h1 class="header-text">{title}</h1>
        <h2 class="header-text">{description}</h2>
    </header>
    <div class="container">
        <slot />
    </div>
</Layout>
