---
import Layout from './Default.astro';
const { title, description } = Astro.props;
---

<Layout title=`${title} | Andrew Lee` description={description}>
    <header>
        <h1>{title}</h1>
        <h2>{description}</h2>
    </header>
</Layout>

<style>
    header {
        text-align: center;
    }
</style>
