---
import Layout from './Default.astro';
---

<Layout>
    <header>
        <h1>Test</h1>
        <h2>Description</h2>
    </header>
</Layout>

<style>
    header {
        text-align: center;
    }
</style>
