@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Hack", sans-serif;
        src: url("../public/ttf/Hack-Regular.ttf");
    }

    @font-face {
        font-family: "Hack", sans-serif;
        src: url("../public/ttf/Hack-Italic.ttf");
        font-style: italic;
    }
    @font-face {
        font-family: "Hack", sans-serif;
        src: url("../public/ttf/Hack-Bold.ttf");
        font-weight: 700;
    }
    @font-face {
        font-family: "Hack", sans-serif;
        src: url("../public/ttf/Hack-BoldItalic.ttf");
        font-weight: 700;
    }

}

@layer components {
    .link {
        @apply text-blue-600 hover:text-blue-300
    }
}
