/*
.container {
  padding: 0 2rem;
}

.landing {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/temp-landing.png")
}


.landing {
  text-align: center;
}

.title {
  font-size: 200%;
}

.description {
}

.contact {
}

.text-center {
  text-align: center;
}
*/